nav.navbar.navbar-b.navbar-trans.navbar-expand-md.fixed-top.navbar-dark#thenav
  .container
    a.navbar-brand.js-scroll.portfolio(href='#home') PORTFOLIO
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarDefault', aria-controls='navbarDefault', aria-expended='false', aria-label='Toggle navigation')
      span
      span
      span
    .navbar-collapse.justify-content-end.collapse#navbarDefault
      ul.navbar-nav
        li.nav-item
          a.nav-link.about1(href='#about') About
        li.nav-item
          a.nav-link.project1(href='#projects') Projects
        li.nav-item
          a.nav-link.skills1(href='#skills') skills
        li.nav-item
          a.nav-link.contact1(href='#contact') Contact
